<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, user-scalable=no" name="viewport">
  <meta content="Justin Ledoux - www.justinweb.pro" name="Author">
  <meta name="description" content="{{{ seo.description }}}">

  <meta property="og:title" content="Ma誰na Utzmann">
  <meta property="og:site_name" content="Ma誰na Utzmann">
  <meta property="og:description" content="{{{ seo.description }}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:image" content="{{ baseURL }}images/social/facebook-share.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Ma誰na Utzmann">
  <meta name="twitter:description" content="{{{ seo.description }}}">
  <meta name="twitter:image" content="{{ baseURL }}images/social/twitter-share.jpg">

  <title>Ma誰na Utzmann</title>

  <link rel="apple-touch-icon" sizes="57x57" href="{{ staticResourcesPath }}images/social/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ staticResourcesPath }}images/social/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ staticResourcesPath }}images/social/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ staticResourcesPath }}images/social/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ staticResourcesPath }}images/social/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ staticResourcesPath }}images/social/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ staticResourcesPath }}images/social/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ staticResourcesPath }}images/social/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ staticResourcesPath }}images/social/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="{{ staticResourcesPath }}images/social/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ staticResourcesPath }}images/social/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ staticResourcesPath }}images/social/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ staticResourcesPath }}images/social/favicon-16x16.png">
  <link rel="manifest" href="{{ staticResourcesPath }}images/social/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ staticResourcesPath }}images/social/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
  <main>{{{body}}}</main>

  <link
    href="https://fonts.googleapis.com/css?family=Clicker+Script"
    rel="stylesheet">

  <link
    href='//fonts.googleapis.com/css?family=Open+Sans:700,600,400,300'
    rel='stylesheet'>

  <link
    rel="stylesheet"
    href="{{ staticResourcesPath }}css/main.css"
    media="screen">

  {{#if isProduction}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-40543409-1', 'auto');
      ga('send', 'pageview');
    </script>
  {{/if}}

  <script
    type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js">
  </script>
  
  <script
    type="text/javascript"
    src="{{ staticResourcesPath }}js/app.js">
  </script>
</body>
</html>