<header class="hero" id="hero">
  <div class="hero__image"></div>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-push-6 hero__content">
        <h1 class="hero__title">Maïna Utzmann</h1>
        <p class="hero__quote">{{ __ "hero" }}</p>
      </div>
    </div>
  </div>
</header>

<nav-bar
  language="{
    biography: '{{ __ 'biography' }}',
    Biography: '{{ __ 'Biography' }}',
    photos: '{{ __ 'photos' }}',
    Photos: '{{ __ 'Photos' }}',
    videos: '{{ __ 'videos' }}',
    Videos: '{{ __ 'Videos' }}',
    music: '{{ __ 'music' }}',
    Music: '{{ __ 'Music' }}',
    contact: '{{ __ 'contact' }}',
    Contact: '{{ __ 'Contact' }}',
  }">
</nav-bar>

<section class="section section__blue section__pattern" id="{{ __ 'biography' }}">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-push-2">
        <h2>{{ __ 'Biography' }}</h2>
        <p>{{{ __ 'complete-biography' }}}</p>
      </div>
    </div>
  </div>
</section>

<section class="section" id="{{ __ 'photos' }}">
  <div class="container">
    <h2>{{ __ 'Photos' }}</h2>
  </div>

  <carousel
    next="{{ __ 'Next' }}"
    previous="{{ __ 'Previous' }}">
  </carousel>
</section>

<section class="section section__purple section__pattern" id="{{ __ 'videos' }}">
  <div class="container">
    <h2>{{ __ 'Videos' }}</h2>

    <ul class="video-list row">
      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://www.youtube.com/embed/RtIdErwemYo" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">{{ __ 'mainaBanquierTitle' }}</h3>
      </li>

      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://www.youtube.com/embed/AuLIshV8f44" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">Nessun Dorma (Puccini)</h3>
        <p class="video-list__description">{{ __ 'salleWilfridPelletier' }}</p>
      </li>
    </ul>

    <ul class="video-list row">
      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://www.youtube.com/embed/cX7Bmg6oknQ?t=44" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">Vitrine 2013 des musiques locales métissées</h3>
        <p class="video-list__description">{{ __ 'salleAstral' }}</p>
      </li>

      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://player.vimeo.com/video/183204389" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">{{ __ 'mainaOnTvShowDirectUnivers' }}</h3>
      </li>
    </ul>

    <ul class="video-list row">
      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://player.vimeo.com/video/183204833" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">{{ __ 'pubSacMagique' }}</h3>
      </li>

      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://player.vimeo.com/video/183204839" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">{{ __ 'gmAd' }}</h3>
      </li>
    </ul>

    <ul class="video-list row">
      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://www.youtube.com/embed/TUrsR2Ff0MI" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">{{ __ 'actingDemoTitle' }}</h3>
        <p class="video-list__description">{{ __ 'demoActriceFrancais' }}</p>
      </li>

      <li class="video-list__item col-sm-6">
        <div class="video-list__video">
          <iframe src="https://www.youtube.com/embed/GIujzKpLPSU" frameborder="0" allowfullscreen></iframe>
        </div>
        <h3 class="video-list__title">Show Natalie Choquette &amp; Maïna</h3>
        <p class="video-list__description">{{ __ 'fondationAilesPapillion' }}</p>
      </li>
    </ul>
  </div>
</section>

<section class="section section__light-gray" id="{{ __ 'music' }}">
  <div class="container">
    <h2>{{ __ 'Music' }}</h2>

    <div class="album">
      <img
        class="album__cover"
        src="/images/album.jpg"
        alt="{{ __ 'convertoPourUneVoixCover' }}"
        width="250"
        height="250">

      <h3 class="album__title">Concerto pour une voix</h3>
      <p class="album__description">{{ __ 'musicDescription' }}</p>

      <div class="album__links">
        <a href="https://itunes.apple.com/ca/album/concerto-pour-une-voix-single/id942589032" class="album__itunes">iTunes</a>
        <a href="https://play.google.com/store/music/artist/Maina?id=Aggjoo4b2o3kio5ls3dwddmcwg4" class="album__google-play">Google Play</a>
        <a href="https://www.amazon.com/Concerto-Pour-Une-Voix-Ma%C3%AFna/dp/B00PN11WF8" class="album__amazon">Amazon</a>
      </div>
    </div>
  </div>
</section>

<section class="section section__teal section__pattern" id="{{ __ 'contact' }}" contact-form>
  <div class="container">
    <contact-form
      language="{
        Contact: '{{ __ 'Contact' }}',
        errorOccuredSendingMessage: '{{ __ 'errorOccuredSendingMessage' }}',
        thanksForContactingMe: '{{ __ 'thanksForContactingMe' }}',
        fullName: '{{ __ 'fullName' }}',
        requiredField: '{{ __ 'requiredField' }}',
        email: '{{ __ 'email' }}',
        requiredField: '{{ __ 'requiredField' }}',
        pleaseEnterValidEmail: '{{ __ 'pleaseEnterValidEmail' }}',
        phoneNumber: '{{ __ 'phoneNumber' }}',
        optional: '{{ __ 'optional' }}',
        message: '{{ __ 'message' }}',
        requiredField: '{{ __ 'requiredField' }}',
        send: '{{ __ 'send' }}',
      }">
    </contact-form>
  </div>
</section>

<footer class="footer">
  <h1>Maïna Utzmann</h1>
</footer>